<a href="https://colab.research.google.com/github/Dcodinginsane/Pandas-for-Data-Analysis/blob/main/Xhipment_ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

# Use 'on_bad_lines' to skip problematic lines
df = pd.read_csv('/content/Data Sheet.csv', on_bad_lines='skip')

In [19]:
df.head()

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,...,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code
0,63b3b00812fd293bff52248d,2023-01-03 04:33:12.157+00,0,False,"[{""dateTime"":""2023-01-03T10:25:00Z"",""details"":...",63b3b00812fd293bff522488,2023-07-20 07:24:41.662+00,2023-07-20 08:18:03.235+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63b50769ba169e7e19712077,2023-01-04 04:58:17.462+00,0,False,"[{""dateTime"":""2023-01-01T22:31:00Z"",""details"":...",63b50769ba169e7e19712072,2023-07-20 07:24:41.732+00,2023-07-20 08:18:03.236+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63b50778ba169e7e197120af,2023-01-04 04:58:32.763+00,0,False,"[{""dateTime"":""2023-01-02T10:31:00Z"",""details"":...",63b50778ba169e7e197120aa,2023-07-20 07:24:41.802+00,2023-07-20 08:18:03.238+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63b50c62ba169e7e19712365,2023-01-04 05:19:30.171+00,0,False,"[{""dateTime"":""2023-01-02T15:50:00Z"",""details"":...",63b50c62ba169e7e19712360,2023-07-20 07:24:41.87+00,2023-07-20 08:18:03.239+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63b53c7eba169e7e19712d32,2023-01-04 08:44:46.821+00,0,False,"[{""dateTime"":""2023-01-05T18:58:00Z"",""details"":...",63b53c7eba169e7e19712d2d,2023-07-20 07:24:41.954+00,2023-07-20 08:18:03.24+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.describe()

                _v  zendesk_ticket_id
count  1964.000000         780.000000
mean      0.063136        2326.923077
std       0.243270         647.233742
min       0.000000        1198.000000
25%       0.000000        1663.750000
50%       0.000000        2511.500000
75%       0.000000        2939.250000
max       1.000000        3157.000000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1964 entries, 0 to 1963
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   _id                        1964 non-null   object
 1   created_at                 1964 non-null   object
 2   _v                         1964 non-null   int64
 3   _fivetran_deleted          1964 non-null   bool
 4   milestones                 1964 non-null   object
 5   booking_id                 1964 non-null   object
 6   updated_at                 1964 non-null   object
 7   _fivetran_synced           1964 non-null   object
 8   kind                       1623 non-null   object
 9   organization_id            1623 non-null   object
 10  quote_identity             1623 non-null   object
 11  booking_identity           1623 non-null   object
 12  status                     473 non-null    object
 13  customer_invoice_no        1503 non-null   object
 14  ticket_status              1945 non-null   object
 15  zendesk_ticket_id          780 non-null    float64
 16  zoho_invoice_status        187 non-null    object
 17  zoho_estimate_invoice_nos  187 non-null    object
 18  container_code             425 non-null    object
 19  flight_number              381 non-null    object
 20  airline_name               679 non-null    object
 21  carrier_code               393 non-null    object
dtypes: bool(1), float64(1), int64(1), object(19)
memory usage: 324.3+ KB

In [22]:
df1= df.copy()
df1.head()

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,...,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code
0,63b3b00812fd293bff52248d,2023-01-03 04:33:12.157+00,0,False,"[{""dateTime"":""2023-01-03T10:25:00Z"",""details"":...",63b3b00812fd293bff522488,2023-07-20 07:24:41.662+00,2023-07-20 08:18:03.235+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63b50769ba169e7e19712077,2023-01-04 04:58:17.462+00,0,False,"[{""dateTime"":""2023-01-01T22:31:00Z"",""details"":...",63b50769ba169e7e19712072,2023-07-20 07:24:41.732+00,2023-07-20 08:18:03.236+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63b50778ba169e7e197120af,2023-01-04 04:58:32.763+00,0,False,"[{""dateTime"":""2023-01-02T10:31:00Z"",""details"":...",63b50778ba169e7e197120aa,2023-07-20 07:24:41.802+00,2023-07-20 08:18:03.238+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63b50c62ba169e7e19712365,2023-01-04 05:19:30.171+00,0,False,"[{""dateTime"":""2023-01-02T15:50:00Z"",""details"":...",63b50c62ba169e7e19712360,2023-07-20 07:24:41.87+00,2023-07-20 08:18:03.239+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63b53c7eba169e7e19712d32,2023-01-04 08:44:46.821+00,0,False,"[{""dateTime"":""2023-01-05T18:58:00Z"",""details"":...",63b53c7eba169e7e19712d2d,2023-07-20 07:24:41.954+00,2023-07-20 08:18:03.24+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df1['kind']

0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
                ...
1959            lcl-tracking
1960    air_freight-tracking
1961    air_freight-tracking
1962    air_freight-tracking
1963    air_freight-tracking
Name: kind, Length: 1964, dtype: object

In [24]:
df1.isnull().sum()

_id                             0
created_at                      0
_v                              0
_fivetran_deleted               0
milestones                      0
booking_id                      0
updated_at                      0
_fivetran_synced                0
kind                          341
organization_id               341
quote_identity                341
booking_identity              341
status                       1491
customer_invoice_no           461
ticket_status                  19
zendesk_ticket_id            1184
zoho_invoice_status          1777
zoho_estimate_invoice_nos    1777
container_code               1539
flight_number                1583
airline_name                 1285
carrier_code                 1571
dtype: int64

In [25]:
df1['kind'].value_counts()

kind
air_freight-tracking         1124
lcl-tracking                  194
fcl-tracking                  150
dd-tracking                    94
bonds-tracking                 36
trucking-tracking              21
fcl-transloading-tracking       4
Name: count, dtype: int64

In [26]:
df1['kind'].values

array([nan, nan, nan, ..., 'air_freight-tracking', 'air_freight-tracking',
       'air_freight-tracking'], dtype=object)

In [27]:
df1 = df1.dropna(subset=['kind'])

In [28]:
df1.head()

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,...,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code
340,647ef4b18b5c3c7bda4a26c2,2023-06-06 08:56:17.364+00,1,False,"[{""dateTime"":""2023-06-06T06:56:20.493Z"",""estim...",647ef4b18b5c3c7bda4a26bd,2023-08-25 06:56:20.578+00,2023-08-25 08:18:17.282+00,fcl-tracking,645624a74485d7ee9114dc95,...,Vessel Departed from Origin Port,KI-987,True,2096.0,False,[],HLXU8334726,NaN,NaN,HLCU
341,647f0c5f264530d1baa93d67,2023-06-06 10:37:19.161+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.766Z"",""view""...",647f0c5f264530d1baa93d62,2023-12-27 07:41:22.865+00,2023-12-27 07:48:18.932+00,air_freight-tracking,640b247edecbb4102c415768,...,Delivered to Consignee,`PSP/2023-24/04,True,1532.0,NaN,NaN,NaN,AZ610,Air Italia,NaN
342,647f0d35264530d1baa93ddf,2023-06-06 10:40:53.122+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.947Z"",""view""...",647f0d35264530d1baa93dda,2023-12-27 07:41:23.05+00,2023-12-27 07:48:18.933+00,air_freight-tracking,640b247edecbb4102c415768,...,Delivered to Consignee,`PSP/2023-24/03,True,1534.0,NaN,NaN,NaN,AZ610,Air Italia,NaN
343,647f0d708b5c3c7bda4a2adb,2023-06-06 10:41:52.261+00,0,False,"[{""dateTime"":""2023-06-06T07:41:23.133Z"",""view""...",647f0d708b5c3c7bda4a2ad6,2023-12-27 07:41:23.268+00,2023-12-27 07:48:18.937+00,air_freight-tracking,640b247edecbb4102c415768,...,Delivered to Consignee,`PSP/2023-24/05,True,1533.0,NaN,NaN,NaN,AZ610,Air Italia,NaN
344,647f27408b5c3c7bda4a2efa,2023-06-06 12:32:00.201+00,1,False,"[{""dateTime"":""2023-06-06T10:21:48.302Z"",""view""...",647f27408b5c3c7bda4a2ef5,2023-09-06 09:04:29.729+00,2023-09-06 14:18:07.534+00,lcl-tracking,645fa70c1de1daaf31b8cc38,...,Vessel Departed from Origin Port,YNZ02807,True,2279.0,False,[],FANU1753089,NaN,NaN,HLCU

In [29]:
df1.isna().sum()

_id                             0
created_at                      0
_v                              0
_fivetran_deleted               0
milestones                      0
booking_id                      0
updated_at                      0
_fivetran_synced                0
kind                            0
organization_id                 0
quote_identity                  0
booking_identity                0
status                       1452
customer_invoice_no           237
ticket_status                   3
zendesk_ticket_id            1097
zoho_invoice_status          1473
zoho_estimate_invoice_nos    1473
container_code               1358
flight_number                1267
airline_name                  969
carrier_code                 1379
dtype: int64

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1623 entries, 340 to 1963
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   _id                        1623 non-null   object
 1   created_at                 1623 non-null   object
 2   _v                         1623 non-null   int64
 3   _fivetran_deleted          1623 non-null   bool
 4   milestones                 1623 non-null   object
 5   booking_id                 1623 non-null   object
 6   updated_at                 1623 non-null   object
 7   _fivetran_synced           1623 non-null   object
 8   kind                       1623 non-null   object
 9   organization_id            1623 non-null   object
 10  quote_identity             1623 non-null   object
 11  booking_identity           1623 non-null   object
 12  status                     171 non-null    object
 13  customer_invoice_no        1386 non-null   object
 14  ticket_status              1620 non-null   object
 15  zendesk_ticket_id          526 non-null    float64
 16  zoho_invoice_status        150 non-null    object
 17  zoho_estimate_invoice_nos  150 non-null    object
 18  container_code             265 non-null    object
 19  flight_number              356 non-null    object
 20  airline_name               654 non-null    object
 21  carrier_code               244 non-null    object
dtypes: bool(1), float64(1), int64(1), object(19)
memory usage: 280.5+ KB

In [31]:
df1.head(20
        )

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,...,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code
340,647ef4b18b5c3c7bda4a26c2,2023-06-06 08:56:17.364+00,1,False,"[{""dateTime"":""2023-06-06T06:56:20.493Z"",""estim...",647ef4b18b5c3c7bda4a26bd,2023-08-25 06:56:20.578+00,2023-08-25 08:18:17.282+00,fcl-tracking,645624a74485d7ee9114dc95,...,Vessel Departed from Origin Port,KI-987,True,2096.0,False,[],HLXU8334726,NaN,NaN,HLCU
341,647f0c5f264530d1baa93d67,2023-06-06 10:37:19.161+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.766Z"",""view""...",647f0c5f264530d1baa93d62,2023-12-27 07:41:22.865+00,2023-12-27 07:48:18.932+00,air_freight-tracking,640b247edecbb4102c415768,...,Delivered to Consignee,`PSP/2023-24/04,True,1532.0,NaN,NaN,NaN,AZ610,Air Italia,NaN
342,647f0d35264530d1baa93ddf,2023-06-06 10:40:53.122+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.947Z"",""view""...",647f0d35264530d1baa93dda,2023-12-27 07:41:23.05+00,2023-12-27 07:48:18.933+00,air_freight-tracking,640b247edecbb4102c415768,...,Delivered to Consignee,`PSP/2023-24/03,True,1534.0,NaN,NaN,NaN,AZ610,Air Italia,NaN
343,647f0d708b5c3c7bda4a2adb,2023-06-06 10:41:52.261+00,0,False,"[{""dateTime"":""2023-06-06T07:41:23.133Z"",""view""...",647f0d708b5c3c7bda4a2ad6,2023-12-27 07:41:23.268+00,2023-12-27 07:48:18.937+00,air_freight-tracking,640b247edecbb4102c415768,...,Delivered to Consignee,`PSP/2023-24/05,True,1533.0,NaN,NaN,NaN,AZ610,Air Italia,NaN
344,647f27408b5c3c7bda4a2efa,2023-06-06 12:32:00.201+00,1,False,"[{""dateTime"":""2023-06-06T10:21:48.302Z"",""view""...",647f27408b5c3c7bda4a2ef5,2023-09-06 09:04:29.729+00,2023-09-06 14:18:07.534+00,lcl-tracking,645fa70c1de1daaf31b8cc38,...,Vessel Departed from Origin Port,YNZ02807,True,2279.0,False,[],FANU1753089,NaN,NaN,HLCU
345,647f2fa98b5c3c7bda4a30aa,2023-06-06 13:07:53.719+00,1,False,"[{""dateTime"":""2023-06-09T11:37:51.834Z"",""estim...",647f2fa98b5c3c7bda4a30a5,2023-08-26 11:37:51.88+00,2023-08-26 14:18:05.018+00,dd-tracking,647594734988569a71a54341,...,Vessel Arrived at Destination Port,MRKU3960550,True,2040.0,False,[],MRKU3960550,NaN,NaN,MAEU
346,647f62bf264530d1baa943c0,2023-06-06 16:45:51.513+00,1,False,"[{""dateTime"":""2023-06-07T10:22:06.131Z"",""estim...",647f62bf264530d1baa943bb,2023-09-05 09:53:10.673+00,2023-09-05 14:18:02.613+00,lcl-tracking,64439ee4dd743bd4c1ef60b6,...,Vessel Departed from Origin Port,23,True,2095.0,False,[],BEAU5266705,NaN,NaN,ONEY
347,647f95f4264530d1baa946d7,2023-06-06 20:24:20.805+00,1,False,"[{""dateTime"":""2023-06-06T06:56:42.677Z"",""view""...",647f95f4264530d1baa946d2,2023-08-25 06:56:42.753+00,2023-08-25 08:18:17.466+00,lcl-tracking,6435041eb63e138f063e3f38,...,Vessel Departed from Origin Port,20,True,2099.0,False,[],HLBU2075277,NaN,NaN,HLCU
348,648033bd264530d1baa94ab5,2023-06-07 07:37:33.187+00,1,False,"[{""dateTime"":""2023-06-07T06:56:20.949Z"",""estim...",648033bd264530d1baa94ab0,2023-08-25 06:56:21.034+00,2023-08-25 08:18:17.285+00,fcl-tracking,64439ee4dd743bd4c1ef60b6,...,Delivered to Consignee,"INV - 24, 25, 26",True,1930.0,False,[],CAIU7208889,NaN,NaN,MAEU
349,648033de264530d1baa94ada,2023-06-07 07:38:06.658+00,1,False,"[{""dateTime"":""2023-06-01T06:56:41.644Z"",""estim...",648033de264530d1baa94ad5,2023-08-25 06:56:41.717+00,2023-08-25 08:18:17.456+00,lcl-tracking,6476f4329fdb098a16af304b,...,Destination Customs Cleared,12/23-24,True,1959.0,False,[],TCKU7791054,NaN,NaN,MAEU
350,64807aa8264530d1baa953c7,2023-06-07 12:40:08.669+00,1,False,"[{""dateTime"":""2023-06-07T06:56:42.843Z"",""view""...",64807aa8264530d1baa953c2,2023-08-25 06:56:42.925+00,2023-08-25 08:18:17.466+00,lcl-tracking,63bf9adc9149b740361bd8cc,...,Vessel Departed from Origin Port,JUN/23-24/12,True,2087.0,False,[],HLBU2075277,NaN,NaN,HLCU
351,648166ffaa4f0d0966129705,2023-06-08 05:28:31.897+00,0,False,"[{""dateTime"":null,""view"":{""admin"":""Booking Con...",648166ffaa4f0d0966129700,2023-06-08 05:28:31.897+00,2023-06-08 08:18:04.995+00,lcl-tracking,63e5ecfac7e74cc6d3b38398,...,Booking Confirmation Pending,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,6482c39b54794e270c3a6dd0,2023-06-09 06:15:55.881+00,1,False,"[{""dateTime"":""2023-06-09T06:56:42.540Z"",""view""...",6482c39b54794e270c3a6dcb,2023-08-25 06:56:42.615+00,2023-08-25 08:18:17.465+00,lcl-tracking,6437a89189ba16d62b2f4130,...,Vessel Departed from Origin Port,AM-92,True,2093.0,False,[],HLBU2075277,NaN,NaN,HLCU
353,6482ceab54794e270c3a758e,2023-06-09 07:03:07.062+00,0,False,"[{""dateTime"":""2023-06-10T00:00:00Z"",""estimateC...",6482ceab54794e270c3a7589,2023-07-20 07:25:05.047+00,2023-07-20 08:18:03.499+00,trucking-tracking,6413ea6386f8f3d27a499d64,...,Delivered to Consignee,NaN,True,1579.0,NaN,NaN,NaN,NaN,NaN,NaN
354,6482e14654794e270c3a7d8f,2023-06-09 08:22:30.103+00,1,False,"[{""dateTime"":""2023-06-10T10:22:06.873Z"",""estim...",6482e14654794e270c3a7d8a,2023-09-05 09:53:11.385+00,2023-09-05 14:18:02.628+00,dd-tracking,6413ea6386f8f3d27a499d64,...,Vessel Arrived at Destination Port,Sea Shipment - 51,True,2092.0,False,[],TCLU2248463,NaN,NaN,HLCU
355,6482e313bb3759f42063799e,2023-06-09 08:30:11.159+00,1,False,"[{""dateTime"":""2023-06-09T06:56:20.781Z"",""estim...",6482e313bb3759f420637999,2023-08-25 06:56:20.877+00,2023-08-25 08:18:17.284+00,fcl-tracking,63ceb5be232e20d98a5b64c4,...,Vessel Departed from Origin Port,23-24/01EXP00067,True,2086.0,False,[],CSNU7335161,NaN,NaN,OOCL
356,648402b4bb3759f42063d567,2023-06-10 04:57:24.113+00,1,False,"[{""dateTime"":""2023-06-10T04:50:46.313Z"",""view""...",648402b4bb3759f42063d562,2023-10-17 04:50:46.4+00,2023-10-17 05:03:15.694+00,lcl-tracking,648077d48b5c3c7bda4a41fe,...,Cargo Received at Origin CFS,AFPB002023061601,True,2712.0,False,[],OOCU7455738,NaN,NaN,OOCL
357,6484285654794e270c3ae7cf,2023-06-10 07:37:58.031+00,1,False,"[{""dateTime"":""2023-06-10T10:21:46.883Z"",""view""...",6484285654794e270c3ae7ca,2023-09-06 09:04:28.778+00,2023-09-06 14:18:07.523+00,lcl-tracking,6482c49e54794e270c3a6eb7,...,Vessel Departed from Origin Port,E003,True,2304.0,False,[],FANU1753089,NaN,NaN,HLCU
358,6486a545bb3759f42064a59a,2023-06-12 04:55:33.018+00,1,False,"[{""dateTime"":""2023-06-12T06:56:42.978Z"",""view""...",6486a544bb3759f42064a595,2023-08-25 06:56:43.055+00,2023-08-25 08:18:17.467+00,lcl-tracking,6412f8939f4442da62238095,...,Vessel Departed from Origin Port,APL/0003/23-24,True,2088.0,False,[],HLBU2075277,NaN,NaN,HLCU
359,6486ac8954794e270c3bb0a6,2023-06-12 05:26:33.992+00,1,False,"[{""dateTime"":""2023-06-12T06:56:21.460Z"",""view""...",6486ac8954794e270c3bb0a1,2023-08-25 06:56:21.535+00,2023-08-25 08:18:17.29+00,fcl-tracking,64254eeecc9c1a665f80c5a3,...,Vessel Departed from Origin Port,M/23-24/EX/11,True,2062.0,False,[],BEAU5066292,NaN,NaN,HLCU

In [32]:
df1.columns

Index(['_id', 'created_at', '_v', '_fivetran_deleted', 'milestones',
       'booking_id', 'updated_at', '_fivetran_synced', 'kind',
       'organization_id', 'quote_identity', 'booking_identity', 'status',
       'customer_invoice_no', 'ticket_status', 'zendesk_ticket_id',
       'zoho_invoice_status', 'zoho_estimate_invoice_nos', 'container_code',
       'flight_number', 'airline_name', 'carrier_code'],
      dtype='object')

In [33]:
df1['created_at']

340     2023-06-06 08:56:17.364+00
341     2023-06-06 10:37:19.161+00
342     2023-06-06 10:40:53.122+00
343     2023-06-06 10:41:52.261+00
344     2023-06-06 12:32:00.201+00
                   ...
1959    2024-02-13 11:19:55.064+00
1960    2024-02-13 13:02:54.599+00
1961    2024-02-14 06:31:13.586+00
1962    2024-02-14 07:14:10.192+00
1963    2024-02-14 07:41:25.277+00
Name: created_at, Length: 1623, dtype: object

In [34]:
df1['status'].value_counts()

status
Vessel Departed from Origin Port         52
Delivered to Consignee                   35
Booking Confirmed                        23
Booking Confirmation Pending             17
Vessel Arrived at Destination Port        9
Booking Cancelled                         8
Cargo Received at Origin CFS              7
Cargo Received at Origin Airport          6
Destination Customs Cleared               5
Container Gated In                        4
Flight Arrived at Destination Airport     2
Cargo Picked Up                           2
Flight Departed from Origin Airport       1
Name: count, dtype: int64

In [35]:
df1.shape

(1623, 22)

In [36]:
df1 = df1[df1['status'] != 'Booking Cancelled']

In [37]:
df1.shape

(1615, 22)

In [38]:
df1['status'].value_counts()

status
Vessel Departed from Origin Port         52
Delivered to Consignee                   35
Booking Confirmed                        23
Booking Confirmation Pending             17
Vessel Arrived at Destination Port        9
Cargo Received at Origin CFS              7
Cargo Received at Origin Airport          6
Destination Customs Cleared               5
Container Gated In                        4
Flight Arrived at Destination Airport     2
Cargo Picked Up                           2
Flight Departed from Origin Airport       1
Name: count, dtype: int64

In [39]:
# import pandas as pd

# # Ensure the created_at and updated_at columns are in datetime format
# df1['created_at1'] = pd.to_datetime(df1['created_at'])
# df1['updated_at1'] = pd.to_datetime(df1['updated_at'])

# # 1. Add Quote Accepted Date (created_at)
# df1['Quote_Accepted_Date'] = df1['created_at1']

# # 2. Add Booking Confirmation Date (if status is 'Booking Confirmed')
# df1['Booking_Confirmation_Date'] = df1.apply(
#     lambda row: row['updated_at1'] if row['status'] == 'Booking Confirmed' else pd.NaT,
#     axis=1
# )

# # 3. Add Delivery Date (if status is 'Delivered to Consignee')
# df1['Delivery_Date'] = df1.apply(
#     lambda row: row['updated_at1'] if row['status'] == 'Delivered to Consignee' else pd.NaT,
#     axis=1
# )

# # Display the DataFrame to verify changes
# print(df1[['booking_id', 'status', 'Quote_Accepted_Date', 'Booking_Confirmation_Date', 'Delivery_Date']])

In [40]:
import pandas as pd

# Convert the 'created_at' and 'updated_at' columns to datetime, handling potential format issues
df1['created_at1'] = pd.to_datetime(df1['created_at'], errors='coerce')  # Handle any incorrect formats
df1['updated_at1'] = pd.to_datetime(df1['updated_at'], errors='coerce')  # Handle timezone and format issues

# 1. Add Quote Accepted Date (created_at)
df1['Quote_Accepted_Date'] = df1['created_at1']

# 2. Add Booking Confirmation Date (if status is 'Booking Confirmed')
df1['Booking_Confirmation_Date'] = df1.apply(
    lambda row: row['updated_at1'] if row['status'] == 'Booking Confirmed' else pd.NaT,
    axis=1
)

# 3. Add Delivery Date (if status is 'Delivered to Consignee')
df1['Delivery_Date'] = df1.apply(
    lambda row: row['updated_at1'] if row['status'] == 'Delivered to Consignee' else pd.NaT,
    axis=1
)

# Display the DataFrame to verify changes
print(df1[['booking_id', 'status', 'Quote_Accepted_Date', 'Booking_Confirmation_Date', 'Delivery_Date']])

                    booking_id                            status  \
340   647ef4b18b5c3c7bda4a26bd  Vessel Departed from Origin Port
341   647f0c5f264530d1baa93d62            Delivered to Consignee
342   647f0d35264530d1baa93dda            Delivered to Consignee
343   647f0d708b5c3c7bda4a2ad6            Delivered to Consignee
344   647f27408b5c3c7bda4a2ef5  Vessel Departed from Origin Port
...                        ...                               ...
1959  65cb505bbe1a0c09b9a4408c                               NaN
1960  65cb687ebe1a0c09b9a971b5                               NaN
1961  65cc5e31be1a0c09b9d39f34                               NaN
1962  65cc6842be1a0c09b9d4ebc9                               NaN
1963  65cc6ea5be1a0c09b9d60266                               NaN

                  Quote_Accepted_Date Booking_Confirmation_Date  \
340  2023-06-06 08:56:17.364000+00:00                       NaT
341  2023-06-06 10:37:19.161000+00:00                       NaT
342  2023-06-06 10:40:53.122000+00:00                       NaT
343  2023-06-06 10:41:52.261000+00:00                       NaT
344  2023-06-06 12:32:00.201000+00:00                       NaT
...                               ...                       ...
1959 2024-02-13 11:19:55.064000+00:00                       NaT
1960 2024-02-13 13:02:54.599000+00:00                       NaT
1961 2024-02-14 06:31:13.586000+00:00                       NaT
1962 2024-02-14 07:14:10.192000+00:00                       NaT
1963 2024-02-14 07:41:25.277000+00:00                       NaT

                        Delivery_Date
340                               NaT
341  2023-12-27 07:41:22.865000+00:00
342  2023-12-27 07:41:23.050000+00:00
343  2023-12-27 07:41:23.268000+00:00
344                               NaT
...                               ...
1959                              NaT
1960                              NaT
1961                              NaT
1962                              NaT
1963                              NaT

[1615 rows x 5 columns]

<ipython-input-40-77dbed8f0baa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['created_at1'] = pd.to_datetime(df1['created_at'], errors='coerce')  # Handle any incorrect formats
<ipython-input-40-77dbed8f0baa>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['updated_at1'] = pd.to_datetime(df1['updated_at'], errors='coerce')  # Handle timezone and format issues
<ipython-input-40-77dbed8f0baa>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Quote_Accepted_Date'] = df1['created_at1']
<ipython-input-40-77dbed8f0baa>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Booking_Confirmation_Date'] = df1.apply(
<ipython-input-40-77dbed8f0baa>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Delivery_Date'] = df1.apply(

In [41]:
df1.head()

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,...,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code,created_at1,updated_at1,Quote_Accepted_Date,Booking_Confirmation_Date,Delivery_Date
340,647ef4b18b5c3c7bda4a26c2,2023-06-06 08:56:17.364+00,1,False,"[{""dateTime"":""2023-06-06T06:56:20.493Z"",""estim...",647ef4b18b5c3c7bda4a26bd,2023-08-25 06:56:20.578+00,2023-08-25 08:18:17.282+00,fcl-tracking,645624a74485d7ee9114dc95,...,[],HLXU8334726,NaN,NaN,HLCU,2023-06-06 08:56:17.364000+00:00,2023-08-25 06:56:20.578000+00:00,2023-06-06 08:56:17.364000+00:00,NaT,NaT
341,647f0c5f264530d1baa93d67,2023-06-06 10:37:19.161+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.766Z"",""view""...",647f0c5f264530d1baa93d62,2023-12-27 07:41:22.865+00,2023-12-27 07:48:18.932+00,air_freight-tracking,640b247edecbb4102c415768,...,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 10:37:19.161000+00:00,2023-12-27 07:41:22.865000+00:00,2023-06-06 10:37:19.161000+00:00,NaT,2023-12-27 07:41:22.865000+00:00
342,647f0d35264530d1baa93ddf,2023-06-06 10:40:53.122+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.947Z"",""view""...",647f0d35264530d1baa93dda,2023-12-27 07:41:23.05+00,2023-12-27 07:48:18.933+00,air_freight-tracking,640b247edecbb4102c415768,...,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 10:40:53.122000+00:00,2023-12-27 07:41:23.050000+00:00,2023-06-06 10:40:53.122000+00:00,NaT,2023-12-27 07:41:23.050000+00:00
343,647f0d708b5c3c7bda4a2adb,2023-06-06 10:41:52.261+00,0,False,"[{""dateTime"":""2023-06-06T07:41:23.133Z"",""view""...",647f0d708b5c3c7bda4a2ad6,2023-12-27 07:41:23.268+00,2023-12-27 07:48:18.937+00,air_freight-tracking,640b247edecbb4102c415768,...,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 10:41:52.261000+00:00,2023-12-27 07:41:23.268000+00:00,2023-06-06 10:41:52.261000+00:00,NaT,2023-12-27 07:41:23.268000+00:00
344,647f27408b5c3c7bda4a2efa,2023-06-06 12:32:00.201+00,1,False,"[{""dateTime"":""2023-06-06T10:21:48.302Z"",""view""...",647f27408b5c3c7bda4a2ef5,2023-09-06 09:04:29.729+00,2023-09-06 14:18:07.534+00,lcl-tracking,645fa70c1de1daaf31b8cc38,...,[],FANU1753089,NaN,NaN,HLCU,2023-06-06 12:32:00.201000+00:00,2023-09-06 09:04:29.729000+00:00,2023-06-06 12:32:00.201000+00:00,NaT,NaT

In [42]:
df1.columns

Index(['_id', 'created_at', '_v', '_fivetran_deleted', 'milestones',
       'booking_id', 'updated_at', '_fivetran_synced', 'kind',
       'organization_id', 'quote_identity', 'booking_identity', 'status',
       'customer_invoice_no', 'ticket_status', 'zendesk_ticket_id',
       'zoho_invoice_status', 'zoho_estimate_invoice_nos', 'container_code',
       'flight_number', 'airline_name', 'carrier_code', 'created_at1',
       'updated_at1', 'Quote_Accepted_Date', 'Booking_Confirmation_Date',
       'Delivery_Date'],
      dtype='object')

In [43]:
df1.shape

(1615, 27)

In [44]:
df1['Booking_Confirmation_Date'].value_counts()

Booking_Confirmation_Date
2024-02-13 05:56:19.555000+00:00    1
2023-10-24 09:30:12.327000+00:00    1
2023-10-12 17:27:47.373000+00:00    1
2023-10-12 17:27:46.898000+00:00    1
2023-10-12 17:27:48.248000+00:00    1
2023-12-27 07:41:28.541000+00:00    1
2023-08-01 09:51:23.874000+00:00    1
2023-10-17 04:50:46.547000+00:00    1
2023-10-17 04:50:45.565000+00:00    1
2023-10-12 17:27:47.870000+00:00    1
2023-10-17 04:50:46.239000+00:00    1
2023-10-12 17:27:47.567000+00:00    1
2023-07-24 13:05:27.650000+00:00    1
2023-10-03 13:58:31.146000+00:00    1
2023-10-17 04:50:04.951000+00:00    1
2023-10-12 17:27:46.720000+00:00    1
2023-07-26 08:40:51.202000+00:00    1
2023-10-17 04:50:06.609000+00:00    1
2024-02-13 05:56:19.349000+00:00    1
2023-10-24 09:30:18.879000+00:00    1
2023-10-24 09:30:08.770000+00:00    1
2023-08-16 11:31:52.198000+00:00    1
2023-12-27 07:41:28.371000+00:00    1
Name: count, dtype: int64

In [45]:
df1['Delivery_Date']

340                                 NaT
341    2023-12-27 07:41:22.865000+00:00
342    2023-12-27 07:41:23.050000+00:00
343    2023-12-27 07:41:23.268000+00:00
344                                 NaT
                     ...
1959                                NaT
1960                                NaT
1961                                NaT
1962                                NaT
1963                                NaT
Name: Delivery_Date, Length: 1615, dtype: datetime64[ns, UTC]

In [46]:
df1['Quote_Accepted_Date'].values

array(['2023-06-06T08:56:17.364000000', '2023-06-06T10:37:19.161000000',
       '2023-06-06T10:40:53.122000000', ...,
       '2024-02-14T06:31:13.586000000', '2024-02-14T07:14:10.192000000',
       '2024-02-14T07:41:25.277000000'], dtype='datetime64[ns]')

In [47]:
df1.shape

(1615, 27)

In [48]:
import pandas as pd
import numpy as np
import json

# Step 1: Parse the delivery and booking dates from the 'milestones' field
def extract_dates(row):
    try:
        milestones = json.loads(row['milestones'])  # Use json.loads to handle JSON properly
    except (json.JSONDecodeError, TypeError):
        return None, None

    delivered_date = None
    booking_confirmed_date = None
    for milestone in milestones:
        if milestone['value'] == 'Delivered to Consignee':
            delivered_date = pd.to_datetime(milestone.get('dateTime', None))
        elif milestone['value'] in ['Quote Accepted', 'Booking Confirmed']:
            booking_confirmed_date = pd.to_datetime(milestone.get('dateTime', None))

    return delivered_date, booking_confirmed_date

# Apply the function to extract dates
df1[['delivered_date', 'booking_confirmed_date']] = df1.apply(extract_dates, axis=1, result_type='expand')

# Step 2: Calculate the delivery time
df1['delivery_time'] = (df1['delivered_date'] - df1['booking_confirmed_date']).dt.days

# Filter for records in 2023 only
df_2023 = df1[(df1['delivered_date'] >= '2023-01-01') & (df1['delivered_date'] < '2024-01-01')]

# Extract month and product type for grouping
df_2023['month'] = df_2023['delivered_date'].dt.month
df_2023['product_type'] = df_2023['kind']  # Assuming 'kind' refers to product type like FCL, LCL, etc.

# 1. Calculate average delivery time per product type per month
average_delivery_time = df_2023.groupby(['product_type', 'month'])['delivery_time'].mean().reset_index()

# 2. Calculate TP90 delivery time per product type per month
tp90_delivery_time = df_2023.groupby(['product_type', 'month'])['delivery_time'].apply(lambda x: np.percentile(x, 90)).reset_index()

# 3. Count number of customers with at least 1 delivery (assuming there's a 'customer_id' field)
df_2023['customer_id'] = df_2023['customer_invoice_no']  # Replace with actual customer ID if different
customers_with_delivery = df_2023.groupby('customer_id').size().reset_index(name='num_deliveries')
customers_with_at_least_1_delivery = customers_with_delivery[customers_with_delivery['num_deliveries'] >= 1]['customer_id'].nunique()

# Output results
print("Average Delivery Time per Product Type per Month:")
print(average_delivery_time)

print("\nTP90 Delivery Time per Product Type per Month:")
print(tp90_delivery_time)

print("\nNumber of Customers with at Least 1 Delivery:")
print(customers_with_at_least_1_delivery)

Average Delivery Time per Product Type per Month:
            product_type  month  delivery_time
0   air_freight-tracking      5      25.000000
1   air_freight-tracking      6      15.714286
2   air_freight-tracking      7      17.625000
3   air_freight-tracking      8      21.553571
4   air_freight-tracking      9      17.156863
5   air_freight-tracking     10      17.779221
6   air_freight-tracking     11      20.378378
7   air_freight-tracking     12      20.396040
8            dd-tracking      5      46.000000
9            dd-tracking      6       6.666667
10           dd-tracking      7      12.916667
11           dd-tracking      8      29.666667
12           dd-tracking      9      19.833333
13           dd-tracking     10      20.571429
14           dd-tracking     11      21.900000
15           dd-tracking     12      23.800000
16          fcl-tracking      5      60.000000
17          fcl-tracking      7      43.833333
18          fcl-tracking      8      40.150000
19          fcl-tracking      9      36.708333
20          fcl-tracking     10      46.354839
21          fcl-tracking     11      40.592593
22          fcl-tracking     12      44.375000
23          lcl-tracking      4      45.000000
24          lcl-tracking      7      44.923077
25          lcl-tracking      8      45.276596
26          lcl-tracking      9      46.470588
27          lcl-tracking     10      55.956522
28          lcl-tracking     11      53.750000
29     trucking-tracking      6       9.000000
30     trucking-tracking      7       6.000000
31     trucking-tracking      8       5.500000
32     trucking-tracking      9      22.000000
33     trucking-tracking     10       7.000000
34     trucking-tracking     11       7.000000
35     trucking-tracking     12       6.000000

TP90 Delivery Time per Product Type per Month:
            product_type  month  delivery_time
0   air_freight-tracking      5           25.0
1   air_freight-tracking      6           22.0
2   air_freight-tracking      7           22.9
3   air_freight-tracking      8           29.0
4   air_freight-tracking      9            NaN
5   air_freight-tracking     10           23.0
6   air_freight-tracking     11           27.0
7   air_freight-tracking     12           27.0
8            dd-tracking      5           51.6
9            dd-tracking      6            9.4
10           dd-tracking      7           23.4
11           dd-tracking      8           40.5
12           dd-tracking      9           27.0
13           dd-tracking     10           32.5
14           dd-tracking     11           31.9
15           dd-tracking     12           30.2
16          fcl-tracking      5           60.0
17          fcl-tracking      7           48.0
18          fcl-tracking      8           42.4
19          fcl-tracking      9           43.0
20          fcl-tracking     10           57.0
21          fcl-tracking     11           46.8
22          fcl-tracking     12           51.9
23          lcl-tracking      4           45.0
24          lcl-tracking      7           49.0
25          lcl-tracking      8           54.8
26          lcl-tracking      9           55.4
27          lcl-tracking     10           74.0
28          lcl-tracking     11           66.6
29     trucking-tracking      6           11.8
30     trucking-tracking      7            6.0
31     trucking-tracking      8            6.7
32     trucking-tracking      9           36.4
33     trucking-tracking     10            7.0
34     trucking-tracking     11            7.0
35     trucking-tracking     12            6.0

Number of Customers with at Least 1 Delivery:
710

<ipython-input-48-07865cd480ac>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['month'] = df_2023['delivered_date'].dt.month
<ipython-input-48-07865cd480ac>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['product_type'] = df_2023['kind']  # Assuming 'kind' refers to product type like FCL, LCL, etc.
<ipython-input-48-07865cd480ac>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['customer_id'] = df_2023['customer_invoice_no']  # Replace with actual customer ID if different

In [50]:
df1.to_csv('output_file.csv', index=False)